<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Retrieval</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

</head>
<body>
<a id="admin-button" type="button" class="btn btn-info btn-md" href="/admin">Admin</a>
<div id = "wrapper">
    <div id = "container">
<div id="top">
    <header><h1> Information Retrieval</h1> </header>
</div>

    <div class="wrap">
        <div class="search">
            <form action="/search" method="get">
                <input type="text" class="searchTerm" name="query" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <!--<input type="file" id="myFile"> -->
        </div>
        <br><br>
        <div id="result" style="display:{{ display }}">
            {% for doc in docs %}
            <!-- touple: 0: name 1:brief-->
            <div class="doc">
                <h2><a target="_blank" href="/documents/{{doc[0]}}">{{ doc[1] }}</a></h2>
                <p>{{doc[2]}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
</body>
</html>